<!-- <div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ page.title }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
  </p>
</div>

<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div> -->

{% if page.layout == "tutorial" %}
<nav>
    <ul>
        {% for tutorial in site.tutorials %}
        <li>
            <a style="{% if page.url == tutorial.url %}color:red;{% endif %}"
               href="{{site.baseurl}}{{tutorial.permalink}}"
               class="{% if page.url contains tutorial.slug %}current{% endif %}">{{tutorial.title}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

{% if page.layout == "post" %}
<nav>
    <ul>
        {% for post in site.posts %}
        <li>
            <a style="{% if page.url == post.url %}color:red;{% endif %}" href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
